<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
    <bean id="hima" class="com.tabeldata.bootcamp.belajarspringboot.Mahasiswa">
    	<constructor-arg name="nama" value="Himawan Eka Putra" />
    	<constructor-arg name="semester" value="8" />
    	<constructor-arg name="kelas" ref="sk" />
    </bean>
    <bean id="sk" class="com.tabeldata.bootcamp.belajarspringboot.Kelas">
    	<property name="nama" value="Sistem Komputer"></property>
    </bean>
</beans>